#chatParamChangeUserButton {
  color: red;
  font-weight: bold;
}

#chatParamOffcanvas,
#paramOffcanvas {
  background-color: #f8f8f8;
}

.modal-content,
.card {
  background-color: #f8f8f8;
}

#micButton,
#micButtonOffcanvas {
  border: 3px solid white;
  background-color: yellow !important;
}

#speakerButton,
#speakerButtonOffcanvas {
  border: 3px solid white;
  background-color: yellow !important;
}
