// deva.scss

/*
body,
#DEVA {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}
*/

#chatParamChangeUserButton {
  color: red;
  font-weight: bold;
}

#chatParamOffcanvas,
#paramOffcanvas {
  background-color: #f8f8f8;
}

.modal-content,
.card {
  background-color: #f8f8f8;
}

#micButton,
#micButtonOffcanvas {
  border: 3px solid white;
  background-color: yellow !important;
}

#speakerButton,
#speakerButtonOffcanvas {
  border: 3px solid white;
  background-color: yellow !important;
}

#geoLocText {
  position: relative;
  text-align: center;
  top: -14px;
  margin-bottom: 0 !important;
}

#map {
  width: 100%;
  height: 100vh;
  //height: -webkit-fill-available;
  position: relative;
  display: block;
  top: -14px;
}

#startButton {
  float: right;
  position: relative;
  left: -14px;
  // top: -3px;
}

#startButton2 {
  margin-right: 15px;
}

.car-card-title {
  text-align: center;
  color: red;
}

#chatTrace,
#question2Textarea {
  /* width: 100%; */
}

#question2Button {
  position: relative;
  padding: 0;
  margin-left: auto;
  width: fit-content;
  top: -3rem;
  left: -1rem;
}
