
// Define standard variables and values

$colorBeige: #e9ecef;
$enable-button-pointers: true;

//Use the variables

body {
  // font-family: "Times New Roman", Times, serif;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: $colorBeige;
}

.s-page {
  display: none;
  height: 100%;
  width: 100%;
}

.s-start {
  font-weight: 600;
}

.s-btn {
  height: 3rem;
  border-radius: 0;
  font-size: 2rem;
}

#ontoTree-content {
  width: 90%;
}

#ontoTree-choose div {
  position: relative;
}

#ontoTree-parent {
  text-align: center;
}

#ontoTree-parent:hover {
  cursor: pointer;
}

.ontoTree-btn {
  height: 2.1rem;
  border-radius: 0;
  border-top-width: 0.1rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  font-size: 1.5rem;
  background-color: white;

  &:hover {
    background-color: white !important;
    color: var(--bs-btn-color);
  }

  &:focus {
    background-color: white !important;
    color: var(--bs-btn-color);
  }

  &.active {
    &:hover {
      background-color: white !important;
      color: var(--bs-btn-color);
    }

    &:focus {
      background-color: white !important;
      color: var(--bs-btn-color);
    }
  }
}

/*
.parent {
  width: 50%;
  border: 25px solid #e18728;
  float: left;
}

.child {
  width: 90%;
  padding: 20%;
  border: 4px solid black;
  margin: 0.5rem auto;
}

.twins {
  width: 45%;
  display: inline-block;
  padding: 1rem;
  border: 2px solid black;
  float: left;
}

.tw-bloc {
  float: left;
  margin: auto;
}
*/
