/* Define standard variables and values */
$colorBeige: #e9ecef;
$enable-button-pointers: true;
$sebDarkBlue: hsla(235, 100%, 30%, 1); // #000b87; // darkblue;
$sebBrown: rgb(199, 16, 16); // rgb(190, 190, 190); // hsla(12, 100%, 35%, 1); // #8f1d00;  // #882107; // #7c1f02;
$sebGreen: #008959;
$devaRed: #fa0039;

// hsl(235, 0%, 64%) !important  // deva gray color

html {
  overscroll-behavior: none;
}

/* Use the variables */
body {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  // background-color: $colorBeige;
}

#devaVersion:hover {
  // cursor: pointer;
}

#record-widget {
  position: fixed;
  z-index: 5000;
  // top: 5px;
  // left: -10px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid #fb003a;
}

.calendar-events {
  user-select: none;
}

#paramButtonVrap {
  // display: inline-block;
  float: right;
  margin-right: 0.6rem;
}

.param-button {
  // border: 3px solid white;
  padding: 5px;
}

#showTravellerButton {
  position: relative;
  left: 5px;
}

//      C A R D

#travellerPlus {
  position: relative;
  top: 20px;
  left: -11px;
  float: right;
}

.img-select:hover {
  cursor: pointer;
}

.card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.65);
  box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.trash-edit-box {
  float: right;
}

/*

#chatParamChangeUserButton {
  color: red;
  font-weight: bold;
}

#chatParamOffcanvas,
#paramOffcanvas {
  background-color: #f8f8f8;
}

.modal-content {
  background-color: #f8f8f8;
}

*/

//                        TOOLBAR
#toolBar {
  position: fixed;
  height: 4.2rem;
  width: 100%;
  display: none;
  z-index: 1000;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ced4da;
}

#startButton {
  float: right;
  position: relative;
  left: -14px;
  top: -3px;
}

#dialogButtons {
  display: inline-block;
  position: fixed;
  right: 0;
  //float: right;
  margin-top: 0.2rem;
  margin-right: 0.6rem;
}

.toolbarButton {
  display: inline-block;
  background-color: white;
  vertical-align: initial;
  border-radius: 50%;
  margin: 3px;
  border: 3px;
  padding: 6px;
  border-color: #fff;
}

#chatParamButton {
  background-color: unset;
}

/*
#micButton,
#micButtonOffcanvas {
  border: 3px solid white;
  background-color: yellow !important;
}

#speakerButton,
#speakerButtonOffcanvas {
  border: 3px solid white;
  background-color: yellow !important;
}
*/

.deva-tittle {
  background-color: $sebDarkBlue !important;
}

.s-page {
  // z-index: 500;
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

.s-page-title {
  //text-align: center;
}

.s-start {
  font-weight: 600;
  margin: 0;
}

.start-page-btn {
  border-radius: 0; // 0.5rem;
  font-size: 1.8rem; // 2rem;
  //font-weight: 900;
  // border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  // border-top-width: 0;
  // border-bottom-width: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  //  color: $sebDarkBlue !important;
  //  border-color: $sebDarkBlue !important;
}

#start-button {
  border-top-width: 0;
}

.start-page-btn:hover {
  background-color: #eaeaea;
}

.start-page-btn:active {
  background-color: #ddd !important;
}

#sheduleButton {
  color: $sebBrown !important;
  border-color: $sebBrown !important;
}

#voyageButton {
  color: $sebDarkBlue !important;
  border-color: $sebDarkBlue !important;
}

#paramButton {
  color: $sebGreen !important;
  border-color: $sebGreen !important;
  margin-bottom: 2rem;
}

#voyage-title {
  // background-color: $sebDarkBlue;
  background-color: white;
  color: $sebDarkBlue;
}

#paramPage {
  z-index: 400;
}

#paramPage div {
  // for all div inside
  //position: relative;
  //top: 32px;
}

#ontoTree-content,
#shedule-content {
  width: 100%;
  position: relative;
}

#ontoTree-title {
  //position: relative;
  //top: 32px;
}

#ontoTree-parent {
  text-align: center;
  font-size: 1.2rem;
}

#ontoTree-parent:hover {
  cursor: pointer;
}

.ontoTree-btn {
  position: relative;
  // top: 32px;
  border-radius: 0;
  border-top-width: 0.1rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  // padding: 0.7rem !important;
  font-size: 1.1rem; // 1.5    1.7rem;
  // font-weight: 600;
  background-color: white;

  &:hover {
    background-color: white !important;
    color: var(--bs-btn-color);
  }

  &:focus {
    background-color: white !important;
    color: var(--bs-btn-color);
  }

  &.active {
    &:hover {
      background-color: white !important;
      color: var(--bs-btn-color);
    }

    &:focus {
      background-color: white !important;
      color: var(--bs-btn-color);
    }
  }
}

.event-plus {
  position: relative;
  display: inline-block;
  top: 2px;
  //left: 20px;
}

.event-trash,
.event-edit {
  display: none;
  position: relative;
  float: right;
}

#logTextarea {
  height: 20rem; // 25rem  // 16rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#questionTextarea {
  height: 5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#clearLogButton {
  position: relative;
  padding: 0;
  margin-left: auto;
  width: fit-content;
  // top: -0.6rem;
}

#questionButton {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  margin-left: auto;
  width: fit-content;
  top: -0.6rem;
}

#ontoTreeModal {
  z-index: 1500;
}

/*
.parent {
  width: 50%;
  border: 25px solid #e18728;
  float: left;
}

.child {
  width: 90%;
  padding: 20%;
  border: 4px solid black;
  margin: 0.5em auto;
}

.twins {
  width: 45%;
  display: inline-block;
  padding: 1em;
  border: 2px solid black;
  float: left;
}

.tw-bloc {
  float: left;
  margin: auto;
}
*/
