/* Define standard variables and values */
html {
  overscroll-behavior: none;
}

/* Use the variables */
body {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.calendar-events {
  user-select: none;
}

#toolBar {
  position: fixed;
  height: 4.2rem;
  width: 100%;
  display: block;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #ced4da;
}

#startButton {
  display: none;
  position: absolute;
  padding-top: 2px;
  margin-left: 6px;
}

#dialogButtons {
  display: inline-block;
  position: fixed;
  right: 0;
  margin-top: 0.2rem;
  margin-right: 0.6rem;
}

.toolbarButton {
  display: inline-block;
  background-color: white;
  vertical-align: initial;
  border-radius: 50%;
  margin: 3px;
  border: 3px;
  border-color: #fff;
}

#micButton {
  background-color: yellow !important;
}

#speakerButton {
  background-color: yellow !important;
}

.deva-tittle {
  background-color: hsl(235, 100%, 30%) !important;
}

.s-page {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

.s-start {
  font-weight: 600;
  margin: 0;
}

.start-page-btn {
  border-radius: 0;
  font-size: 1.8rem;
  border-left-width: 10px;
  border-right-width: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#start-button {
  border-top-width: 0;
}

.start-page-btn:hover {
  background-color: #eaeaea;
}

.start-page-btn:active {
  background-color: #ddd !important;
}

#sheduleButton {
  color: rgb(199, 16, 16) !important;
  border-color: rgb(199, 16, 16) !important;
}

#voyageButton {
  color: hsl(235, 100%, 30%) !important;
  border-color: hsl(235, 100%, 30%) !important;
}

#paramButton {
  color: #008959 !important;
  border-color: #008959 !important;
  margin-bottom: 2rem;
}

#voyage-title {
  background-color: white;
  color: hsl(235, 100%, 30%);
}

#paramPage {
  z-index: 400;
}

#paramPage div {
  position: relative;
  top: 32px;
}

#ontoTree-content,
#shedule-content {
  width: 100%;
}

#ontoTree-parent {
  text-align: center;
  font-size: 1.5rem;
}

#ontoTree-parent:hover {
  cursor: pointer;
}

.ontoTree-btn {
  position: relative;
  top: 32px;
  border-radius: 0;
  border-top-width: 0.2rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  font-size: 1.4rem;
  background-color: white;
}
.ontoTree-btn:hover {
  background-color: white !important;
  color: var(--bs-btn-color);
}
.ontoTree-btn:focus {
  background-color: white !important;
  color: var(--bs-btn-color);
}
.ontoTree-btn.active:hover {
  background-color: white !important;
  color: var(--bs-btn-color);
}
.ontoTree-btn.active:focus {
  background-color: white !important;
  color: var(--bs-btn-color);
}

.event-plus {
  position: relative;
  display: inline-block;
  top: 2px;
}

.event-trash,
.event-edit {
  display: none;
  position: relative;
  float: right;
}

#logTextarea {
  height: 31rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#questionTextarea {
  height: 6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#logButton {
  position: relative;
  padding: 0;
  margin-left: auto;
  width: fit-content;
}

#questionButton {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  margin-left: auto;
  width: fit-content;
  top: -0.6rem;
}

#ontoTreeModal {
  z-index: 1500;
}

/*
.parent {
  width: 50%;
  border: 25px solid #e18728;
  float: left;
}

.child {
  width: 90%;
  padding: 20%;
  border: 4px solid black;
  margin: 0.5em auto;
}

.twins {
  width: 45%;
  display: inline-block;
  padding: 1em;
  border: 2px solid black;
  float: left;
}

.tw-bloc {
  float: left;
  margin: auto;
}
*/

/*# sourceMappingURL=index.css.map */
