
body {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #e9ecef; /* beige; */
}

.s-page {
  display: none;
  height: 100%;
  width: 100%;
}

#start {
  /* background-color: beige; */
}

/*
.parent {
  width: 50%;
  border: 25px solid #e18728;
  float: left;
}

.child {
  width: 90%;
  padding: 20%;
  border: 4px solid black;
  margin: 0.5em auto;
}

.twins {
  width: 45%;
  display: inline-block;
  padding: 1em;
  border: 2px solid black;
  float: left;
}

.tw-bloc {
  float: left;
  margin: auto;
}
*/
