/* Define standard variables and values */
$colorBeige: #e9ecef;
$enable-button-pointers: true;
$sebDarkBlue: hsla(235, 100%, 30%, 1); // #000b87; // darkblue;
$sebBrown: hsla(12, 100%, 35%, 1); // #8f1d00;  // #882107; // #7c1f02;
$sebGreen: #008959;

/* Use the variables */
body {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  // background-color: $colorBeige;
}

#DIVA {
  // position: relative;
}

#topBar {
  //position: relative;
  //top: 2.4rem;
  //left: -2.8rem;
  display: block;
  z-index: 1000;
  margin: 2px;
  // margin-bottom: 0.3rem;
  // margin-top: 0.3rem;
}

#startButton {
  display: none;
  background-color: white;
  border: 3px solid $sebDarkBlue;
  border-radius: 50%;
  vertical-align: initial;
  margin-left: auto;
  margin-right: auto;
}

.deva-tittle {
  background-color: $sebDarkBlue !important;
}

.s-page {
  // z-index: 500;
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

.s-page-title {
  //text-align: center;
}

.start-page-btn {
  border-radius: 0; // 0.5rem;
  font-size: 1.8rem; // 2rem;
  //font-weight: 900;
  border-width: 3px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  //  color: $sebDarkBlue !important;
  //  border-color: $sebDarkBlue !important;
}

.start-page-btn:hover {
  background-color: #eaeaea;
}

.start-page-btn:active {
  background-color: #ddd !important;
}

#sheduleButton {
  color: $sebBrown !important;
  border-color: $sebBrown !important;
}

#voyageButton {
  color: $sebDarkBlue !important;
  border-color: $sebDarkBlue !important;
}

#paramButton {
  color: $sebGreen !important;
  border-color: $sebGreen !important;
}

#voyage-title {
  background-color: $sebDarkBlue;
}

.s-start {
  font-weight: 600;
}

#ontoTree-choose {
  z-index: 400;
}

#ontoTree-title {
  // width: 88%;
}

#ontoTree-choose div {
  // for all div inside
  position: relative;
}

#ontoTree-content,
#shedule-content {
  width: 100%;
}

#ontoTree-parent {
  text-align: center;
  font-size: 1.5rem;
}

#ontoTree-parent:hover {
  cursor: pointer;
}

.ontoTree-btn {
  //  height: 2.1em;
  border-radius: 0;
  border-top-width: 0.2rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  //padding-bottom: 0;
  font-size: 1.4rem; // 1.5    1.7rem;
  // font-weight: 900;
  background-color: white;

  &:hover {
    background-color: white !important;
    color: var(--bs-btn-color);
  }

  &:focus {
    background-color: white !important;
    color: var(--bs-btn-color);
  }

  &.active {
    &:hover {
      background-color: white !important;
      color: var(--bs-btn-color);
    }

    &:focus {
      background-color: white !important;
      color: var(--bs-btn-color);
    }
  }
}

.event-plus {
  position: relative;
  display: inline-block;
  top: 2px;
  //left: 20px;
}

.event-trash,
.event-edit {
  display: none;
  position: relative; // absolute
  // left: 13rem;
  // top: 0.5rem;
  // z-index: 1000;
  float: right;
}

/*
.parent {
  width: 50%;
  border: 25px solid #e18728;
  float: left;
}

.child {
  width: 90%;
  padding: 20%;
  border: 4px solid black;
  margin: 0.5em auto;
}

.twins {
  width: 45%;
  display: inline-block;
  padding: 1em;
  border: 2px solid black;
  float: left;
}

.tw-bloc {
  float: left;
  margin: auto;
}
*/
